body{
  margin: 0;
  background-color: white;
}
.stock-image{
  justify-content: center;
  object-fit: contain;
  height: 80vh;
  width: 80%;
}
.stock-image-content{
  text-align: center;
  color: white;
}
.events-image{
  object-fit: cover;
  object-position: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
.events-content-grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.miyerkulet-content{
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 70px 70px;
}
.miyerkulet-image{
  height: 70vh;
  width: 80%;
}
.miyerkulet-content p{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  color: rgb(67, 151, 192);
  padding: 40px 40px;
}
.miyerkulet-text{
  font-family: roboto, arial;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.miyerkulet-info{
  text-align: center;
  margin-top: 0;
  font-family: roboto, arial;
}
.friday-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.friday-content p{
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.friday-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto,arial;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.friday-info{
  text-align: center;
  margin-top: 0;
  font-family: roboto,arial;
}

.HRPEC-chikahan-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.HRPEC-chikahan-content p{
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.HRPEC-chikahan-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto,arial;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.HRPEC-chikahan-info{
  text-align: center;
  margin-top: 0;
  font-family: roboto,arial;
}